canvas {
	width: 720px;
	height: 480px;
}
#input-div {
	width: 240px;
	height: 160px;
	margin: 0 auto;
	text-align: left;
}
#inputs {
	overflow-y: auto;
	height: 100%;
}
body {
	font-family: Helvetica, sans-serif;
	text-align: center;
}
ul.pokebullets{
	list-style-image: url('/assets/bullet.png');
}
