canvas {
	width: 720px;
	height: 480px;
}
#wrapper {
	text-align: center;
}
#input-div {
	width: 360px;
	height: 300px;
	margin: 0 auto;
	text-align: left;
	border: 4px black;
	border-style: double;
	padding: 10px;
}
#inputs {
	overflow-y: auto;
	height: 100%;
}
body {
	font-family: Helvetica, sans-serif;
	text-align: center;
	background-color: #151515;
	color: #FFFFFF;
}
ul.nobullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li.pokebullet {
	background: url('../assets/bullet-inverted-flipped.png') no-repeat left top;
	height: 30px;
	padding-left: 40px;
	padding-top: 3px;
}
p { 
	margin: 10px;
}
#party {
    float: left; 
	left: 8px;
    margin: 5px;
    position: absolute;
    width: 25%;
}
#party-enemy {
    float: right; 
	right: 8px;
    margin: 5px;
    position: absolute;
    width: 25%;
	z-index: 2;
}
#catchrate {
	width: 5.5%;
	height: 80px;
	margin-top: 17px;
	visibility: hidden;
	position: absolute;
	right: 25%;
	z-index: 1;
	border-radius: 5px;
	background: #454545;
	text-align: left;
	font-size: x-small;
}
#catchrate:hover {
	box-shadow: 5px 5px 10px 0 rgba(255,255,255,0.2);
}
.catchrate-ball {
	margin: 0px;
	padding: 0px;
	height: 33%;
	overflow: hidden;
	display: flex;
	align-items: center;
}
